GLFW_ICON ICON "rfxgen.ico"

1 VERSIONINFO
FILEVERSION     3,1,0,0
PRODUCTVERSION  3,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    //BLOCK "080904E4"     // English UK
    BLOCK "040904E4"    // English US
    BEGIN
      VALUE "CompanyName", "raylib technologies"
      VALUE "FileDescription", "rFXGen - A simple and easy-to-use fx sound generator"
      VALUE "FileVersion", "3.1"
      VALUE "InternalName", "rfxgen"
      VALUE "LegalCopyright", "(c) 2023 raylib technologies (@raylibtech)"
      //VALUE "OriginalFilename", "rfxgen.exe"
      VALUE "ProductName", "rFXGen"
      VALUE "ProductVersion", "3.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    //VALUE "Translation", 0x809, 1252    // English UK
    VALUE "Translation", 0x409, 1252    // English US
  END
END
